.c-card{
//    width: calc(33% - #{$space_l});
//    width:100%;
//    margin: 0 auto $space_l auto;
//    height: auto;
//
//    display: block;
//    overflow: hidden;

    cursor: pointer;
    position: relative;
    
    &__img{
        
    }
    
    &__text{
        color: $color_black2;
    }

}