.c-form{
    width: 60%;
    display: block;
    margin: 0 auto;
    
    @include mq(sm) {
        width: 80%;

    }

    
//    &__name{
//        border-radius: 5px;
//        width: 100%;
//        margin-bottom: $space_l;
//    }
//    &__email{
//        border-radius: 5px;
//        width: 100%;
//        margin-bottom: $space_l;
//    }
//    &__comment{
//        border-radius: 5px;
//        width: 100%;
//        margin-bottom: $space_l;
//    }
//    &__submit{
//        border-radius: 5px;
//        width: 100%;
//    }

}