.c-menu{
//    overflow: hidden;
    display: flex;
    margin-bottom: 0px;

    @include mq(sm) {
        display: block;
    }
    
    &__item{
        font-size: $font-size_l;
        font: $color_white1;
        margin: $space_m $space_xxl;
        font-weight: 900;

//        float: left;
        &:first-child{
            margin-left: $space_8l;
        }
        
        @include mq(md) {
            margin: $space_m $space_xl;
            &:first-child{
                margin-left: $space_4l;
            }
        }
        @include mq(sm) {
            font-size: $font-size_3l;
            font-family: $font-family_title;
            width: 375px;
            margin: $space_3l 0;
            &:first-child{
                margin-left: 0;
            }

            
        }
        
    }
    
    &__link{
        font: $color_white1;
//        margin-right: $space_3l;
        &:hover{
            color: $color_main;
        }

        
    }
    &__link:not(:last-child){
    }

    
//    &--active{
//        position: fixed;
//        top:0px;
//        z-index: 2;
//
//
//    }

    
}