.c-modal-card-container{
    display: flex;
    
    @include mq(smd) {
        display: block;
    }

    
    @include mq(sm) {
        display: block;
    }
//    flex-wrap: wrap;
//    justify-content: space-around;
}