
.c-nav-menu{
    font-style: none;
    font-color: $color_white1;
    margin: 0 auto;
    
    width: 940px;
    @include mq(lg) {
        width: 100%;
        width: 800px;

    }
    
    //ハンバーガーメニュー用
    @include mq(md) {
        width: 100%;
    }
    
//    @include mq(sm) {
//        width: 100%;
//    }
//    
    margin: 0 auto;
    
//    position: fixed;
//    top: 0px;
//    z-index: 2;

}
