.c-newslist{
    width: 70%;
    height: 100px;
    margin: 0 auto;
    
    background-color: $color_main_light;
    
    overflow-y: scroll;
    
    padding: $space_l;
    
    &__title{
        font-weight: 900;

    }
    
    &__item{
        text-align: left;
        &:not(:first-child){
            margin-top: $space_s;
        }
    }
    
    
    
    &__link{
        
    }
    
    &__date{
        color: $color_main;
        font-weight: 900;
    }
    
    &__br{
        display:none;
    }

    @include mq(lg) {
        width: 90%;
//        font-size: $font-size_m;
//        &__br{
//            display:block;
//        }
    }
    
    
    @include mq(md) {
        width: 90%;
        font-size: $font-size_m;
        &__br{
            display:block;
        }
    }
    
}