.c-slider{
    
    width: 640px;
    height: 426px;
    overflow: hidden;
    position: relative;
    top: $space_l;
    margin: 0 auto;
    
    @include mq(smd) {
        width:384px;
        height:256px;
    }

    
    @include mq(sm) {
        width:320px;
        height:213px;
    }
    
    &__nav{
        color: #777;
        position: absolute;
        top: 180px;
        font-size: 40px !important;
        
        @include mq(smd) {
            top:100px;
        }

        
        @include mq(sm) {
            top:90px;
        }

        cursor: pointer;
        z-index: 2;
        color: $color_white1;
        text-shadow: 1px 1px 0 $color_black1,
            -1px 1px 0 $color_black1,
            1px -1px 0 $color_black1,
            -1px -1px 0 $color_black1;
        &:hover{
            color: $color_main_light;

        }

    }
    
    &__prev{
        left: 20px;
    }
    &__next{
        right: 20px;
    }
    
    &__container{
        padding: 0;
        overflow: hidden;
        margin: 0;
        list-style: none;
        position: relative;
    }
    
    &__item{
        
        width: 640px;
        height: 426px;
        
        
        @include mq(smd) {
            width:384px;
            height:256px;
        }

        
        @include mq(sm) {
            width:320px;
            height:213px;
        }

        background: #333;
        color: #fff;
        float: left;
        text-align: center;
        line-height: 400px;
        font-size: 5em;        
    }
    
    &__img{
        width:100%;
        @include mq(smd) {
            position:relative;
            top:-144px      
        }
        
        @include mq(sm) {
            position:relative;
            top:-187px;
        }

        
    }
    
    &__item1{
    }
    &__item2{
    }
    &__item3{
    }
    &__item4{
    }
    &__item5{
    }
    &__item6{
    }
    &__item7{
    }
    &__item8{
    }
    &__item9{
    }


    

    
}