.u-float-header-area{
    background-color: $color_white1;


    &--active{
        position: fixed;
        top:0px;
        z-index: 11;
        width: 100%;
        background-color: $color_white2;

    }
}