.p-company-overview{
    
    
    &__design-box{
        border: 1px solid $color_black1;
        margin: $space_4l 0;
        position: relative;
        height: 50vh;
        width: 90%;
//        width: 100%;
        margin: $space_4l auto;

//        @include mq(lg) {
////            width: 640px;
//            width: 90vw;
//
//            margin: $space_4l auto;
//            height: 266px;
//
//        }


        @include mq(md) {
//           width: 640px;
           width: 90vw;

           margin: $space_4l auto;
           height: 266px;

        }
        
        //
        @include mq(smd) {
//            width: 320px;
            width: 90vw;

            margin: $space_4l auto;
            height: 320px;
        }
        
        @include mq(sm) {
            //            width: 320px;
            height: 400px;
        }

    }
    
    &__image{
    }
    
    &__image1{
        width: 30%;
        position: absolute;
        bottom: -$space_xxl;
        right: -$space_xxl;
        z-index: 2;
        
        @include mq(md) {
            bottom: -$space_xl;
            right: -$space_xl;
        }
        
        @include mq(smd) {
            bottom: -$space_m;
            right: -$space_m;
        }
        @include mq(sm) {
            bottom: -$space_s;
            right: -$space_s;
        }
    }
    
    &__image2{
        width: 50%;

        position: absolute;
        top: -$space_xxl;
        right: -$space_xxl;
        
        @include mq(md) {
            top: -$space_xl;
            right: -$space_xl;
        }
        
        @include mq(smd) {
            top: -$space_m;
            right: -$space_m;
        }
        
        @include mq(sm) {
            top: -$space_s;
            right: -$space_s;
        }


        @include mq(sm) {
//            display: none;
        }

    }

    &__image3{
        width: 20%;
        position: absolute;
        bottom: -$space_xxl;
        left: -$space_xxl;
        
        @include mq(md) {
            bottom: -$space_xl;
            left: -$space_xl;
        }
        
        @include mq(smd) {
            bottom: -$space_m;
            left: -$space_m;
        }
        
        @include mq(sm) {
            bottom: -$space_s;
            left: -$space_s;
        }



        
    }
    
    &__design-small-box{
   

    }
    

    &__design-small-box1{
        width: calc(20% - #{$space_xxl});

//        height: calc(12vw - #{$space_xxl});
        height: 85px;


        border-bottom: 1px solid $color_white1;
        border-left: 1px solid $color_white1;
        display: block;
        box-sizing: border-box;
        position: absolute;
        bottom: -1px;
        left: -1px;
        z-index: 2;
        
        @include mq(lg) {
            height: calc(10.8vw - #{$space_xl});
        }
        
        
        @include mq(md) {
            width: calc(20% - #{$space_xl});

            height: calc(12vw - #{$space_xl});
        }
        
        @include mq(smd) {
            width: calc(20% - #{$space_m});

            height: calc(12vw - #{$space_m});
        }

        
        @include mq(sm) {
            width: calc(20% - #{$space_s});

            height: calc(12vw - #{$space_s});
        }


        
    }
    
    &__design-small-box2{
        
        width: calc(50% - #{$space_xxl});

        height: 259px;

        
        border-top: 1px solid $color_white1;
        border-right: 1px solid $color_white1;
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: -2px;
        right: -2px;
        z-index: 2;
        
        @include mq(lg) {
            height: calc(28.5vw - #{$space_xl});

        }

        
        @include mq(md) {
            width: calc(50% - #{$space_xl});

            height: calc(30vw - #{$space_xl});
        }
        @include mq(smd) {
            width: calc(50% - #{$space_m});
            height: calc(30vw - #{$space_m});
            //            display: none;
        }
        @include mq(sm) {
            width: calc(50% - #{$space_s});
            height: calc(30vw - #{$space_s});
//            display: none;
        }


    }
    
    &__design-small-box3{
        
        width: calc(30% - #{$space_xxl});

        height:142px;

        
        border-bottom: 1px solid $color_white1;
        border-right: 1px solid $color_white1;
        display: block;
        box-sizing: border-box;
        position: absolute;
        bottom: -1px;
        right: -2px;
        z-index: 2;
        
        @include mq(lg) {
            height: calc(16.5vw - #{$space_xl});

        }

        
        @include mq(md) {
            width: calc(30% - #{$space_xl});

            height: calc(18vw - #{$space_xl});
        }
        @include mq(smd) {
            width: calc(30% - #{$space_m});

            height: calc(18vw - #{$space_m});
        }
        @include mq(sm) {
            width: calc(30% - #{$space_s});

            height: calc(18vw - #{$space_s});
        }


    }


    
    
    &__title{
        writing-mode: vertical-rl;
        font-size: $font-size_3l;
        z-index: 3;
        position: absolute;
        top:-$space_8l;
        left:0;
        font-family: $font-family_title;
        
        color: $color_main;
        color: $color_black2;
        
        @include mq(lg) {
            font-size: $font-size_xxl;
        }


        @include mq(md) {
            font-size: $font-size_xxl;
        }
        @include mq(smd) {
            font-size: $font-size_l;
            top:-$space_7l;
            left:0;

        }


        
    }

    &__message{
        font-size: $font-size_l;
        z-index: 3;
        position: absolute;
        top:20px;
        left:140px;
        font-family: $font-family_title;

        color: $color_main;
        color: $color_black1;
        
        text-align: left;
        color: $color_black1;
        font-weight: 900;
        display: block;

        
        @include mq(lg) {
            font-size: $font-size_m;
            top: 0px;
            left: 120px;
        }

        
        @include mq(md) {
            font-size: $font-size_m;
            top: 10px;
            left: 100px;
        }
        
        @include mq(smd) {
            width: 250px;
            top: 70px;
            left: 40px;

        }


        

    }
    
    &__sub-message{
        width: 350px;
        width: 35%;
        font-size: $font-size_m;
        z-index: 3;
        position: absolute;
        top:100px;
        left:150px;
        font-weight: 900;

        color: $color_black2;

        text-align: left;
        
        @include mq(lg) {
            font-size: $font-size_s;
            //            top: 0px;
            top:60px;
            left:120px;
            width:210px;
            width:37%;
        }
        
        @include mq(md) {
            font-size: $font-size_s;
//            top: 0px;
            top:60px;
            left:120px;
            width:210px;

        }
        
        @include mq(smd) {
//            display: none;//確認用後で消します
            font-size: $font-size_s;
            top:170px;
            left:50px;
            width:250px;
        }
        
        @include mq(sm) {
            //            width: 320px;
            width: 80%;
        }

        
    }

    &__br{
        display: none;
        @include mq(smd) {
            display: block;

        }
        
        
    }
    
    &__title-br{
        @include mq(smd) {
            display: none;

        }


    }


    
}