.l-hero{
    background-image: url('../images/hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 700px;

//    display: flex;
//    justify-content: center;
//    align-items: center;
    
    
}